body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 50px;
    margin-right: 15px;
    background: transparent;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h2 {
    margin: 10px 0;
}

.product p {
    margin: 10px 0;
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;  /* Reducción del padding */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.4em; /* Reducción del tamaño de fuente */
}
.social-icon {
    font-size: 10px; /* Tamaño del icono */
    color: #333; /* Color del icono */
    text-decoration: none; /* Eliminar subrayado del enlace */
    margin-right: 10px; /* Espacio entre iconos si hay más */
}

.social-icon:hover {
    color: #e4405f; /* Color del icono al pasar el mouse (color típico de Instagram) */
}